<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="./">
        <span class="icon-bg"><i class="mdi mdi-view-dashboard menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/addPost">
        <span class="icon-bg"><i class="mdi mdi-library-plus menu-icon"></i></span>
        <span class="menu-title">Add Post</span>
        <i class="menu-title"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/posts">
        <span class="icon-bg"><i class="mdi mdi-library-books menu-icon"></i></span>
        <span class="menu-title">Posts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/settings">
        <span class="icon-bg"><i class="mdi mdi-settings menu-icon"></i></span>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="/admin/logout" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a>
      </div>
    </li>
  </ul>
</nav>
<!-- partial -->